{
  "env": {
    "node": true,
    "es6": true
  },
  "ecmaFeatures": {
    "sourceType": "module"
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "strict": 0,
    "quotes": [2, "single"],
    "new-cap": 0
  }
}
